/* Layout Styles */
.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
}

.certificate-container {
    padding: 40px;
    padding-top: 0px;
    background: #fff;
    margin-top: -30px;
    
}

.certificate-container h2 {
    font-size: 24px;
    font-weight: bold;
    color: #1a1a1a;
    text-align: center;
}

.certificate-actions {
    display: flex;
    gap: 12px;
    align-items: center;
    width: 90vw;
}

.certificate-actions input {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    color: #000000;
    font-weight: bold;
    width: 20vw;
}

.search-btn {
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    background-color: #d7d7d7;
    color: #000000;
    cursor: pointer;
    transition: background 0.3s;
}
.create-btn {
    padding: 8px 14px;
    border: none;
    border-radius: 999px;
    background-color: #6366f1;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
    margin-left: auto;
}

.search-btn:hover {
    background-color: #b1b1b1;
}
.create-btn:hover {
    background-color: #4f46e5;
}

.table-wrapper {
    overflow-x: auto;
}

.table-wrapper table {
    width: 100%;
    overflow: hidden;
    border-collapse: collapse;
    background: #fff;
    border-radius: 10px;
    margin: 0 auto;
}

.table-wrapper th,
td {
    padding: 12px;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #eee;
}

.table-wrapper th {
    background-color: #f9f9f9;
    font-weight: 600;
}

.pagination {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    align-items: center;
}

.page-numbers button {
    margin: 0 4px;
    border: none;
    background-color: #eee;
    border-radius: 50%;
    padding: 6px 12px;
    cursor: pointer;
}

.page-numbers .active {
    background-color: #6366f1;
    color: white;
}

.page-numbers button {
    color: black; /* Màu chữ đen */
    font-weight: bold; /* Chữ in đậm */
    background: none; /* Không nền hoặc tùy chọn */
    border: 1px solid #ccc; /* Viền nhẹ đẹp */
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.page-numbers button.active {
    background-color: #007bff; /* Trang hiện tại có nền xanh */
    color: white; /* Chữ trắng cho dễ nhìn */
}



.confirm-btn {
    background-color: #caffcb;
    color: green;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
}

.cancel-btn {
    background-color: #ffd4d1;
    color: red;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
}

.confirm-btn:hover,
.cancel-btn:hover {
    font-weight: bold;
    opacity: 0.9;
}

table input[type="text"] {
    width: 80%;
    font-size: medium;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 4px 8px;    /* top/bottom - left/right */
    font-size: 14px;     /* hoặc nhỏ hơn tùy ý */

}