.form-container {
    width: 400px;
    height: 80vh;
    margin: 0 auto;
    margin-top: -60px;
    padding: 20px;
    text-align: center;
}

.form-container h2 {
    font-size: 24px;
    font-weight: bold;
    color: #111;
}

input {
    width: 100%;
    padding: 12px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    background: none;
}

.input-group {
    position: relative;
    margin: 25px 0;
    height: fit-content;
}

.input-group label {
    position: absolute;
    left: 10px;
    top: 12px;
    color: #999;
    font-size: 16px;
    pointer-events: none;
    transition: 0.2s ease all;
    padding: 0 4px;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown):valid + label {
    top: -25px;
    left: 8px;
    font-size: 16px;
    color: #4f46e5;
}

input[type="date"]::placeholder {
    color: transparent;
}

input[type="date"]::-webkit-datetime-edit {
    color: transparent;
}

input[type="date"]:focus::-webkit-datetime-edit {
    color: #000;
}

input[type="date"]:valid::-webkit-datetime-edit {
    color: #000;
}

.submit-btn {
    background-color: #4f46e5;
    color: white;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    transition: background-color 0.3s;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.submit-btn:hover {
    background-color: #4338ca;
}

.error-msg {
    color: #e11d48;
    font-size: 14px;
    margin-top: -10px;
    font-weight: 500;
    text-align: center;
}
